# String/, reverse string, loop, if/elif/else, palindrome, pattern

In [1]:
# String and reverse string

s = input("Enter a string: ")

print(s[::-1]) #slicing methord

Enter a string: swapnil
linpaws

In [2]:
s2=input()
print(s2[::-1])

swa
aws

In [3]:
# ch stands for character
s1 = input("Enter a string: ")

rev = ""
for ch in s1:
  rev = ch+rev
print(rev)

Enter a string: open
nepo

In [4]:
#Palindrome eg: nitin == nitin


s3 = input()

if s3 == s3[::-1]:
  print("The given string is palindrome.")
else:
  print("The given string is not palindrome.")

nitin
The given string is palindrome.

In [5]:
#Palindrome eg: nitin == nitin


s3 = input().lower()

if s3 == s3[::-1]:
  print("The given string is palindrome.")
else:
  print("The given string is not palindrome.")

Nitin
The given string is palindrome.

In [6]:
#star square pattern

n = int(input("Enter a number: "))

if n > 0:
  for i in range(1,n+1):
    print("*"*n)
else:
  print("please enter number greater than 0.")

Enter a number: 9
*********
*********
*********
*********
*********
*********
*********
*********
*********

In [7]:
#star triangle pattern

n = int(input("Enter a number: "))

if n > 0:
  for i in range(1,n):
    print("*"*i)
else:
  print("please enter number greater than 0.")

Enter a number: 9
*
**
***
****
*****
******
*******
********

In [8]:
#star triangle pattern

n = int(input("Enter a number: "))

if n > 0:
  for i in range(n,0,-1):
    print("*"*i)
else:
  print("please enter number greater than 0.")

Enter a number: 9
*********
********
*******
******
*****
****
***
**
*