# Tuples

Tuple are immutable.

while list are mutable.

List can be chage after creation but tuple can not change after creationn

In [1]:
# tuples 
# interger
tuple1=(12,11,43,24,55,45)
print(tuple1)

(12, 11, 43, 24, 55, 45)

In [2]:
# String
tuple2=("Swapnil","Vijay","Vivek","Avinash","NIkhil")
print(tuple2)

('Swapnil', 'Vijay', 'Vivek', 'Avinash', 'NIkhil')

In [3]:
# Negative number 
tuple3=(-34,-45,-46,23)
print(tuple3)

(-34, -45, -46, 23)

In [4]:
# mixed values
tuple4=(12,34,"Mumbai","Pune",23.22,34.34,True,False,-34,-87)
print(tuple4)

(12, 34, 'Mumbai', 'Pune', 23.22, 34.34, True, False, -34, -87)

In [5]:
tuple5=(122,23,3344,556,67,(23,34,4556,45),34.45,56,67,(34,56,67,78))
print(tuple5)

(122, 23, 3344, 556, 67, (23, 34, 4556, 45), 34.45, 56, 67, (34, 56, 67, 78))

In [6]:
tuple6=("Mango","Banana","Graps")
print(tuple6)

('Mango', 'Banana', 'Graps')

In [7]:
# access the tuple with index
print(tuple6[0])

Mango

In [9]:
print(tuple6[0:2])

('Mango', 'Banana')

In [10]:
print(tuple6[-1])

Graps

In [12]:
# tuple6.append("Cocnut")
# print(tuple6)
# tuple are immutabe they cannot be change

In [13]:
for i in tuple6:
    print(i)

Mango
Banana
Graps