In [1]:
# list
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [2]:
list2=[1,2,3,[3,5,6,7]]
print(list2)

[1, 2, 3, [3, 5, 6, 7]]

In [3]:
list3=["swapnil","pisal","ram"]
print(list3)

['swapnil', 'pisal', 'ram']

In [4]:
list4=[1,2,3,"swapnil","pisal","ram"]
print(list4)

[1, 2, 3, 'swapnil', 'pisal', 'ram']

In [5]:
# Accessing using index
print(list4[3])

swapnil

In [6]:
#sorting the list in ascending using the sorted()

l = [7,8,9,6,1,0,5,100,300,5000,-5,-10,-1] #list of different elements

asc = sorted(l)
print(asc)

[-10, -5, -1, 0, 1, 5, 6, 7, 8, 9, 100, 300, 5000]

In [7]:
#sorting the list in descending using the sorted() and reverse=True

l = [7,8,9,6,1,0,5,100,300,5000,-5,-10,-1] #list of different elements

dec = sorted(l, reverse=True)
print(dec)

[5000, 300, 100, 9, 8, 7, 6, 5, 1, 0, -1, -5, -10]

In [8]:
l1 = ["b","A","B","R","c","d","h","H","j","r"]

asce = sorted(l1)
loasc = [lst.lower() for lst in asce]
print(loasc)

['a', 'b', 'h', 'r', 'b', 'c', 'd', 'h', 'j', 'r']

In [9]:
#Adding a element or elements in the list using append() and extend([])

l2 = [6,7,9,0]

#I want to add new element in the given list
l2.append(75)

# More elment add in the list
l2.extend([99,100,101,-50])

a1 = sorted(l2)
print(a1)

[-50, 0, 6, 7, 9, 75, 99, 100, 101]

In [10]:
# delete the element from the list using del

lst=[100,200,500,700,40,80]

# index
#0-100,1-200,2-500,3-700,......

del(lst[4])
print(lst)

[100, 200, 500, 700, 80]

In [11]:
# create a list of strings (6),eg: cars name/brands and you have to delete 3rd element.
cars=["BMW","Mercidies","Safari","RollsRoyal","Ferrari","Lamborghini"]
print(cars)
del(cars[2])
print(cars)

['BMW', 'Mercidies', 'Safari', 'RollsRoyal', 'Ferrari', 'Lamborghini']
['BMW', 'Mercidies', 'RollsRoyal', 'Ferrari', 'Lamborghini']

In [12]:
# create a list mango, apple, swift and replace swift to a fruit.

fruits = ["mango", "banana", "swift"]

del(fruits[2])
fruits.append("apple")
print(fruits)

['mango', 'banana', 'apple']

In [13]:
fruits = ["mango", "banana", "swift"]

# update the element from the list
fruits[2] = "apple"
# fruits.append("apple")
print(fruits)

['mango', 'banana', 'apple']

In [14]:
# insert element in list at specific index using insert
lst = [1,2,3,4,5]

lst.insert(2, "car")
print(lst)

[1, 2, 'car', 3, 4, 5]