# Sets

Sets are unordered coolection of element

Sets Remove Duplicates

Sets are mutable it mean it can be change after creation we can add or drop element from the sets

Sets Witin Write in Curly braces or set() function

Empty Sets Are Use set() . Not Use {} because it has the Empty Dictionary

Sets perform Mathematical oeration like union , intersection , set difference , Difference

In [5]:
#using curly braces
set1 = {1,2,3,1,2,3,4,4,5,5,6,2,4}
print(set1)

{1, 2, 3, 4, 5, 6}

In [6]:
# set function 
a = set([1,2,3,1,2,3,4,4,5,5,6,2,4])
print(a)

{1, 2, 3, 4, 5, 6}

In [11]:
d = {} 
print(d) 
print(type(d))

{}
<class 'dict'>

In [12]:
# empty set 
b = set() 
print(b)
print(type(b))

set()
<class 'set'>

In [10]:
fruits = {"Mango" , "Banana" , "Graps" , "Gava" , "Mango" , "Banana"}
print(fruits)

{'Gava', 'Graps', 'Mango', 'Banana'}

In [17]:
for fruit in fruits: 
    print(fruit)

Gava
Graps
Mango
Banana

In [20]:
# Add the element in the set
fruits.add("Apple")
print(fruits)

{'Gava', 'Apple', 'Graps', 'Mango', 'Banana'}

In [21]:
# delete the element in sets  
fruits.remove("Gava")
print(fruits)

{'Apple', 'Graps', 'Mango', 'Banana'}

In [22]:
# delete also discard method . if element not in set we can delete error not be found with help of discard method
fruits.discard("Cocnut")
print(fruits)

{'Apple', 'Graps', 'Mango', 'Banana'}

In [23]:
# delete all set use clear method 
fruits.clear()
print(fruits)

set()

In [24]:
# Sets perform Mathematical oeration like union , intersection , set difference , Difference

In [28]:
# Two set for operation
set1 = {1,2,3,4,5}
set2 = {1,2,5}
print(set1)
print(set2)

# union 
print("Combine the two set and remove duplicate : ",set1 | set2)

# Intersection 
print("Comman between two sets : ",set1 & set2)

# difference 
print("The element is in set1 but not in set2 : ",set1 - set2)

# symmetric difference 
print("The Comman element are remove both sets : ",set1 ^ set2)

{1, 2, 3, 4, 5}
{1, 2, 5}
Combine the two set and remove duplicate :  {1, 2, 3, 4, 5}
Comman between two sets :  {1, 2, 5}
The element is in set1 but not in set2 :  {3, 4}
The Comman element are remove both sets :  {3, 4}

In [29]:
if 1 in set1:
    print("Yes")
else: 
    print("No")

Yes