# List Comprehensions

In [1]:
# we want to create a list of squares, like:  

squares = [] 

for i in range(5): 
    squares.append(i**2)

print(squares)

[0, 1, 4, 9, 16]

In [2]:
# We can obtain the same result with:  

squares = [ i**2 for i in range(5) ]

print(squares)

[0, 1, 4, 9, 16]

In [3]:
# this listcomp combines the elements of two lists if they are not equal:

combine = [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

print(combine)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [4]:
# itâ€™s equivalent to:

combine = []

for x in [1,2,3]: 
    for y in [3,1,4]: 
        if x != y: 
            combine.append((x,y))
print(combine)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [5]:
# list  

vec = [-5 , -3 , -4 , 0, 6 , 7]

print(vec)

[-5, -3, -4, 0, 6, 7]

In [6]:
# create a new list with the values doubled

double_vec = [i*2 for i in vec]

print(double_vec)

[-10, -6, -8, 0, 12, 14]

In [7]:
# filter the list to exclude negative numbers

pos = [x for x in vec if x>0]

print(pos)

[6, 7]

In [8]:
# apply a function on each elment in the list 

fun = [ abs(x) for x in vec] 

print(fun)

[5, 3, 4, 0, 6, 7]

In [9]:
# List of fruits  

fruits = ["   banana   " , "    Mango", "apple  "]

print(fruits)

# remove unwanted space 

new_fruits = [ fruit.strip() for fruit in fruits ]

print(new_fruits)

['   banana   ', '    Mango', 'apple  ']
['banana', 'Mango', 'apple']

In [10]:
# create a list of 2-tuples like (number, square) 

num_and_square = [ (x,x**2) for x in range(6) ]

print(num_and_square)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [11]:
# tuple are in paratharized otherwise it gives an error 

# num_and_square = [ x,x**2 for x in range(6)]
# print(num_and_square)

In [12]:
# flatter list with two for loop  

number = [[12,23,34],[43,32,21],[76,87,65]]
print(number)

number_sep = [num for sep in number for num in sep] 
print(number_sep)

[[12, 23, 34], [43, 32, 21], [76, 87, 65]]
[12, 23, 34, 43, 32, 21, 76, 87, 65]

In [13]:
# List comprehensions can contain complex expressions and nested functions 

from math import pi 

num = [str(round(pi,i)) for i in range(6)]

print(num)

['3.0', '3.1', '3.14', '3.142', '3.1416', '3.14159']

In [14]:
# Nested List Comprehensions

In [15]:
matrics = [
    [1,2,3,4],
    [5,6,7,8], 
    [9,10,11,12]
] 
print(matrics)

transposed = [[row[i] for row in matrics]for i in range(4)]
print(transposed)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [16]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrics])

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [17]:
transposed = [] 

for i in range(4):       
    transposed_row = []
    for row in matrics: 
        transposed_row.append(row[i])
    transposed.append(transposed_row)

print(matrics)
print(transposed_row)
print(transposed)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[4, 8, 12]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [18]:
# zip function 

transposed = list(zip(*matrics))

print(transposed)

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [19]:
# Unpacking Argument Lists 

a = list(range(4,7))
print(a)

args = [4,7]
un_args = list(range(*args))
print(un_args)

[4, 5, 6]
[4, 5, 6]

In [26]:
# dictionaries can deliver keyword arguments with the **-operator:

def intro(name,age=12,occ="COMP"):
    print("The my name is",name,end=" ")
    print("and my age is",age,end=" ")
    print("My occupation is",occ)

d = {"name":"ram","age":34,"occ":"AIDS"}
intro(**d)

The my name is ram and my age is 34 My occupation is AIDS

In [27]:
list1 = [12,23,34,45,56,67,76,54,32,56]
print(list1)

[12, 23, 34, 45, 56, 67, 76, 54, 32, 56]

In [28]:
double = [ n * 2 for n in list1]

print(double)

[24, 46, 68, 90, 112, 134, 152, 108, 64, 112]

In [29]:
doubles = [2 * n for n in range(50)]
print(doubles)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [30]:
# list comprehension
doubles = [2 * n for n in range(1,51)]
print(doubles)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [31]:
# same as the list comprehension above
doubles = list(2 * n for n in range(1,51))
print(doubles)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]